@import 'colors', 'mixins', 'placeholders', 'animations'

\:host
  @include reset-font
  @include roboto-font
  background: $main-background
  top: 2%
  left: 2%
  position: absolute
  width: 96%
  height: 96%
  z-index: 1000
  border:
    style: solid
    width: 1px
    color: #CFCFCF
    radius: 5px


#fileInput
  visibility: hidden
  width: 0
  height: 0

#filePicker
  padding: 5px
  border:
    style: solid
    width: 1px
    color: #CFCFCF
    radius: 5px
