@import 'mixins'

$transitionSpeed: .2s

\:host
  @include reset-font
  @include roboto-font

#lowerActions
  transition: height $transitionSpeed
  .hidden
    height: 0px

.deckDeleteButton
  margin-top: 7px

.dropdown
  display: block

html /deep/ paper-action-dialog
  min-width: 500px
  min-height: 500px
