@import 'colors', 'mixins', 'placeholders', 'animations'

\:host
  @include reset-font
  @include roboto-font
  background: $main-background
  top: 2%
  left: 2%
  position: absolute
  width: 96%
  height: 96%
  z-index: 1000
  border:
    style: solid
    width: 1px
    color: #CFCFCF
    radius: 5px

core-header-panel
  z-index: 1000

.window
  overflow-y: auto
  z-index: 0
  base-card
    width: 100px
    &.is-dragging
      transition: all .07s
