@import 'colors', 'mixins', 'placeholders', 'animations'

\:host
  display: inline-block
  overflow: hidden
  border:
    style: solid
    width: 1px
    color: #CFCFCF
    radius: 5px

#imageElement
  width: 100%
  height: auto
